/* Patients Home */
/* line 8, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
span.signin-validation {
  display: block;
  margin-bottom: 5px;
  font-size: 0.8em;
  color: red;
}

/* line 15, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
.home-title {
  margin: 50px auto 10px;
}

/* line 19, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
.home-subtitle {
  margin-bottom: 80px;
}

/* line 23, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
.home-subtitle span {
  font-style: italic;
}

/* line 27, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
.home-title-section {
  margin-bottom: 20px;
}

/* line 31, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
#map-canvas {
  width: 320px;
  height: 200px;
  margin-bottom: 10px;
}

/* line 37, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
div.appointment-button-index {
  text-align: center;
  margin-bottom: 10px;
}

/* line 42, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
i.profile-icon {
  font-size: 96px;
  margin-left: 126px;
}

/* Make an appointment */
/* line 49, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
.new-appointment-title {
  border-bottom: 1px solid #e0e2e3;
  padding: 20px;
}

/* line 54, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
.new-appointment-body {
  margin: 30px 0 30px;
}

/* line 58, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
.active-step {
  background-color: #f5f5f5;
  border-radius: 5px;
}

/* Choose a service */
/* line 65, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
ul.services {
  list-style: none;
}

/* line 69, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
div.service-content a {
  float: right;
  margin-top: 10px;
}

/* line 74, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
div.service-description {
  margin-left: 30px;
  border-bottom: 1px solid #e0e2e3;
}

/* line 79, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
div.service-description h5 {
  margin-top: 10px;
}

/* line 83, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
div.service-description h5, div.service-description p {
  margin-bottom: 10px;
}

/* line 87, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
p.additional-info {
  /*float: right;*/
  text-align: right;
  font-size: 12px;
  font-style: italic;
}

/* line 94, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
p.duration {
  margin-top: 10px;
}

/* Choose a date */
/* line 100, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
.choose-appointment-body {
  margin: 20px 0 30px;
}

/* Choose a available time */
/* line 106, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
.choose-available-time {
  margin-left: 30px;
}

/* line 110, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
#loading {
  margin-top: 30px;
}

/* line 114, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
a.available-time-item {
  width: 200px;
}

/* line 118, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
a.available-time-item:hover {
  cursor: pointer;
}

/* Confirm appointment */
/* line 124, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
div.chosen-time {
  margin-left: 30px;
  padding-bottom: 15px;
}

/* line 129, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
.required {
  border: solid red 1px;
}

/* Success page */
/* line 135, /Users/llorencmuntaner/Desktop/Assisster/app/assets/stylesheets/patients.css.scss */
div.bouncing-ball-container {
  height: 220px;
  padding-left: 100px;
}
