<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @name %>, your appointment has been confirmed</h1>
    <p>
      Your appointment with <%= @doctor.email %>, has been scheduled for:
    </p>
    <p>Looking forward to see you!</p>
  </body>
</html>