<div class="table-appointments-container" id="appointments">
	<div class="input-group">
	  <span class="input-group-addon">Buscar</span>
	  <input type="text" class="form-control search" placeholder="Búsqueda">
	</div>
	<table class="table appointments-table-header">
		<tr>
			<th class="table-fname">Nombre</th>
			<th class="table-lname">Apellido</th>
			<th class="table-email">Email</th>
			<th class="table-title">Título</th>
			<th class="table-date">Fecha</th>
			<th class="table-time">Hora</th>
			<th class="table-status">Estado</th>
		</tr>
	</table>
	<table class="table">
		<tbody class="appointments list">
		</tbody>
	</table>
</div>