<div class="search-appointments-bar">
	<div class="input-group">
	  <span class="input-group-addon">Email</span>
	  <input type="text" class="form-control" placeholder="Search by email">
	  <span class="input-group-addon">First name</span>
	  <input type="text" class="form-control" placeholder="Search by first name">
	</div>
</div>
<table class="table appointments">
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>Title</th>
		<th>Appointment Date</th>
		<th>Appointment Time</th>
		<th>Status</th>
	</tr>
</table>