<div class="table-appointments-container" id="appointments">
		<!-- <tr>
			<th class="table-fname">First Name</th>
			<th class="table-lname">Last Name</th>
			<th class="table-email">Email</th>
			<th class="table-title">Title</th>
			<th class="table-date">Appointment Date</th>
			<th class="table-time">Appointment Time</th>
			<th class="table-status">Status</th>
		</tr> -->
	<input type="text" class="form-control search" placeholder="Search by first name">
	<table class="table appointments-table-header">
		<tbody class="appointments list">
		</tbody>
	</table>
</div>