<div class="modal fade" id="appointment-modal">
  <div class="modal-dialog">
    <div class="modal-content appointment-content">
      <div class="panel-heading">
        <h3 class="panel-title">Create New Event</h3>
      </div>
      <div class="panel-body">
        <form role="form">
					<div class="form-inputs">
	          <div class="row">
	            <div class="col-xs-12 col-sm-12 col-md-12">
	              <div class="form-group">
	                <input type="text" name="appointment[title]" class="form-control input-sm" placeholder="Title">
	              </div>
	            </div>
	          </div>					
					</div>

          <input type="submit" value="Save" class="btn btn-info">
          <input type="submit" value="Cancel" class="btn btn-info">
					
        </form>
      </div>
    </div> <!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
