<div class="dashboard-title">
  <h2>Dashboard</h2>
</div>
<div class="dashboard-menu">
	<ul class="nav nav-tabs">
	  <li role="presentation"><a href="#">Home</a></li>
	  <li role="presentation"><a href="#calendar">Calendar</a></li>
		<li role="presentation" class="active"><a href="#appointments">Appointments</a></li>
	</ul>
</div>
<div class="dashboard-body">
</div>