<div class="dashboard-title">
  <h2>Dashboard</h2>
</div>
<div class="dashboard-menu">
	<ul class="nav nav-tabs">
	  <li role="presentation"><a href="#">Home</a></li>
	  <li role="presentation" class="active"><a href="#calendar">Calendar</a></li>
		<li role="presentation"><a href="#appointments">Appointments</a></li>
	</ul>
</div>
<div class="dashboard-body">
	<div class="calendar-header">
		<button type="button"
						class="btn btn-primary create-appointment"
						data-toggle="tooltip"
						data-placement="top"
						title="You can click on the calendar as well">
						Create Appointment
		</button>
		<button type="button"
						class="btn btn-primary">
						Create Office Hours
		</button>
		<span class="legend"><div class="office-hour-legend"></div>Office Hours</span>
	</div>
</div>
