<div class="dashboard-title row">
  <h1>Dashboard</h1>
</div>
<div class="dashboard-menu row">
	<ul class="nav nav-tabs">
	  <li role="presentation"><a href="#">Home</a></li>
	  <li role="presentation" class="active"><a href="#calendar">Calendar</a></li>
		<li role="presentation"><a href="#office_hours">Office Hours</a></li>
		<li role="presentation"><a href="#notifications">Notifications</a></li>
		<li role="presentation"><a href="#appointments">Appointments</a></li>
	</ul>
</div>
<div class="dashboard-body">
	<div class="calendar-header row">
		<div class='left-calendar-header col-xs-6'>
			<button type="button"
							class="btn btn-primary btn-sm create-appointment"
							data-toggle="tooltip"
							data-placement="right"
							title="You can click on the calendar as well">
							Create Appointment
			</button>
			<label>
				<input type="checkbox" id="show-pending">
				Show pending appointments
			</label>
		</div>
	</div>
</div>
