<div class="dashboard-title row">
  <h1>Dashboard</h1>
</div>
<div class="dashboard-menu row">
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="#">Home</a></li>
	  <li role="presentation"><a href="#calendar">Calendar</a></li>
		<li role="presentation"><a href="#appointments">Appointments</a></li>
	</ul>
</div>
<div class="dashboard-body">
</div>
