<h3 class="send-form-title">Nuevo Servicio</h3>

<form role="form">
	<div class="form-inputs">
		<div class="row">
			<div class="col-xs-9">
				<div class="form-group service-title">
					<input type="text"
						   name="service[title]"
						   class="form-control input-sm"
						   placeholder="Título">
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group service-duration">
					<input type="number"
						   name="service[duration_min]"
						   class="form-control input-sm"
						   placeholder="Duración (min)">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<div class="form-group service-price">
					<input type="number"
						   name="service[price]"
						   class="form-control input-sm"
						   placeholder="Precio">
				</div>
			</div>
		</div>
				
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="form-group service-description-form">
					<textarea name="service[description]"
							  class="form-control textarea-sm"
							  placeholder="Descripción del servicio"></textarea>
				</div>
			</div>
		</div>
	</div>
	<button type="button"
					id="create-service"
					class="btn btn-default">
					Crear Servicio
	</button>

</form>