<div class="my-modal">
</div>
<div class="modal-content appointment-content">
	<div class="panel-heading">
		<h3 class="panel-title">
			<% if (action === "confirm") { %>
				Confirmar y avisar?
			<% } %>
			<% if (action === "cancel") { %>
				Cancelar y avisar?
			<% } %>
			<% if (action === "update") { %>
				Enviar aviso?
			<% } %>
		</h3>
	</div>
	<div class="panel-body sending-form-inputs">
	</div>
</div> <!-- /.modal-content -->