<div class="my-modal">
</div>
<div class="modal-content appointment-content">
	<div class="panel-heading">
		<h3 class="panel-title"><%= action.charAt(0).toUpperCase() + action.slice(1) + "?" %></h3>
	</div>
	<div class="panel-body">
		<form role="form">
			<div class="form-inputs">
				
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<button type="button"
											id="send-email"
											class="btn btn-primary btn-sm">
											Enviar Email
							</button>
							<button type="button"
											id="send-message"
											class="btn btn-primary btn-sm right">
											Enviar Sms
							</button>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<button type="button"
											id="send-both"
											class="btn btn-primary btn-sm">
											Enviar ambos
							</button>
							<button type="button"
											id="send-not"
											class="btn btn-success btn-sm right">
											No enviar
							</button>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<button type="button"
											id="close"
											class="btn btn-default btn-block">
											Cerrar
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div> <!-- /.modal-content -->