<div class="my-modal">
</div>
<div class="modal-content appointment-content">
	<div class="panel-heading">
		<h3 class="panel-title"><%= action.charAt(0).toUpperCase() + action.slice(1) + "ar?" %></h3>
	</div>
	<div class="panel-body sending-form-inputs">
	</div>
</div> <!-- /.modal-content -->