<td><%= appointment.fullName() %></td>
<td><%= appointment.date() %></td>
<td><%= appointment.time() %></td>
<td><%= appointment.escape('title') %></td>
<td>
	<button type="button" class="btn btn-success btn-xs confirm">Confirm</button>
</td>
<td>
	<button type="button" class="btn btn-danger btn-xs cancel">Cancel</button>
</td>