<td class="tabledata-appointment-list"><%= appointment.fullName() %></td>
<td><%= appointment.date() %></td>
<td class="tabledata-appointment-list"><%= appointment.time() %></td>
<td class="tabledata-appointment-list"><%= appointment.escape('title') %></td>
<td class="pending-appointment-confirm pending-button">
	<button type="button" class="btn btn-success btn-xs confirm">Confirm</button>
</td>
<td class="pending-appointment-cancel pending-button">
	<button type="button" class="btn btn-danger btn-xs cancel">Cancel</button>
</td>