<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="form-group">
			<button type="button"
							id="send-email"
							class="btn btn-primary btn-sm">
							Enviar Email
			</button>
<!--			<button type="button"
							id="send-message"
							class="btn btn-primary btn-sm">
							Enviar Sms
			</button>
			<button type="button"
							id="send-both"
							class="btn btn-primary btn-sm right-button">
							Enviar ambos
			</button>-->
			<button type="button"
							id="send-not"
							class="btn btn-success btn-sm right-button">
							No enviar
			</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="form-group">
			<button type="button"
							id="send-not"
							class="btn btn-success btn-sm btn-block">
							No enviar
			</button>
		</div>
	</div>
</div>