<h3 class="send-form-title">Enviar Email</h3>

<form role="form">
	<div class="form-inputs">
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group email-to">
					<input type="text" name="email[to]" class="form-control input-sm" placeholder="Email">
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-9 col-sm-9 col-md-9">
				<div class="form-group email-subject">
					<input type="text"
						   name="email[subject]"
						   class="form-control input-sm"
						   placeholder="Asunto">
				</div>
			</div>
		</div>
				
		<div class="row">
			<div class="col-xs-9 col-sm-9 col-md-9">
				<div class="form-group email-body">
					<textarea name="email[body]"
										class="form-control textarea-sm"
										placeholder="Escribir mensaje"></textarea>
				</div>
			</div>
		</div>
	</div>
	<button type="button"
					id="send-email"
					class="btn btn-default">
					Enviar
	</button>

</form>