<td><%= service.escape("title") %></td>
<td><%= service.get("duration_min")%> min</td>
<% if (!service.get('price')) { %>
	<td> - </td>	
<% } else { %>
	<td><%= service.get("price")%> euros</td>
<% } %>
<td><%= service.escape("description") %></td>
<td>
	<button type="button" class="btn btn-default btn-xs edit">Editar</button>
</td>
<td>
	<button type="button" class="btn btn-danger btn-xs delete">Borrar</button>
</td>
