<div class="my-modal">
</div>
<div class="modal-content service-content">
	<div class="panel-heading">
		<h3 class="panel-title">Editar Servicio</h3>
	</div>
	<div class="panel-body">
		<form role="form">
			<div class="form-inputs">
				<div class="row">
					<div class="col-xs-9">
						<div class="form-group service-title">
							<input type="text"
										 name="service[title]"
										 class="form-control input-sm"
										 value="<%= service.escape('title') %>">
						</div>
					</div>
				</div>
		
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group service-duration">
							<input type="number"
										 name="service[duration_min]"
										 class="form-control input-sm"
										 value="<%= service.get('duration_min') %>">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6">
						<div class="form-group service-price">
							<input type="number"
										 name="service[price]"
										 class="form-control input-sm"
										 value="<%= service.get('price') %>">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group service-description-form">
							<textarea name="service[description]"
									  class="form-control textarea-sm"><%= service.escape('description') %></textarea>
						</div>
					</div>
				</div>
			</div>
			<button type="button"
							id="submit-service-form"
							class="btn btn-primary">
							Guardar
			</button>
			<button type="button"
							id="close-service-form"
							class="btn btn-default">
							Cerrar
			</button>
		</form>
	</div>
</div> <!-- /.modal-content -->