<td><%= service.escape("title") %></td>
<td><%= service.get("duration_min")%> minutes</td>
<td><%= service.escape("description") %></td>
<td>
	<button type="button" class="btn btn-default btn-xs confirm">Edit</button>
</td>
<td>
	<button type="button" class="btn btn-danger btn-xs cancel">Delete</button>
</td>
