<!-- Default panel contents -->
<div class="panel-heading">Citas de Hoy</div>
<div class="panel-body">
  <p><%= moment().format("dddd, D MMMM")%></p>
</div>

<!-- List group -->
<ul class="list-group todays-appointments">
</ul>
