<%= render "helpers/doctor_header" %>

<div class="container wrap">

	<div class="dashboard-title row">
	 	<h1>Enhorabuena!</h1>
	</div>

	<div class="dashboard-body">
		<div class="row">

		</div>
	</div>
</div>

<%= render "helpers/footer" %>