<% if doctor_signed_in? %>
  <%= render "helpers/doctor_header" %>
<% else %>
  <%= render "helpers/sign_in_header" %>
<% end %>

<div class="container wrap">

	<div class="dashboard-title row">
	 	<div class="col-xs-6">
		 	<h1>Enhorabuena!</h1>
		 	<hr>
		 	<h4>Muchas gracias por confiar Assisster.</h4>
		 	<p>En 24 horas recibirá un email de confirmación con todos los datos necesarios para acceder al servicio.</p>
			<a href="/" class="btn btn-default" role="button">
				Home
			</a>
	 	</div>
	</div>

	<div class="dashboard-body">
		<div class="row">

		</div>
	</div>
</div>

<%= render "helpers/footer" %>