<div class="dashboard-title row">
 	<h1>Ajustes</h1>
</div>
<div class="dashboard-menu row">
	<ul class="nav nav-tabs">
	  <li role="presentation" class="<%= 'active' if page == 'profile' %>"><a href="/profile">Perfil</a></li>
	  <li role="presentation" class="<%= 'active' if page == 'web_settings' %>"><a href="/web_settings">Web</a></li>
	</ul>
</div>