<footer class="footer">
  <div class="container">
		<div class="row">
			<div class="left-footer col-xs-5">
				<a href="/" class="text-muted"><i class="fa fa-home"></i> Home</a>
				<a href="#" class="text-muted"><i class="fa fa-phone"></i> Contact</a>
				<a href="#" class="text-muted"><i class="fa fa-fighter-jet"></i> About</a>
			</div>
			<div class="right-footer col-xs-5">
				<p class="text-muted">© Assisster, 2014</p>
			</div>
		</div>
  </div>
</footer>