<div class="modal fade" id="sign-in-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Doctor Sign In</h4>
      </div>
			<form role="form" action="<%= session_url %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<fieldset>
					<div class="row">
						<div class="center-block">
							<img class="profile-img"
								src="http://d1xj9q84qsj30f.cloudfront.net/wp-content/uploads/2013/07/Dr.-William-Davis.png" alt="">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-10  col-md-offset-1 ">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-user"></i>
									</span> 
									<input class="form-control" placeholder="Email" name="doctor[email]" type="text" value="william@wheat.com" autofocus>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-lock"></i>
									</span>
									<input class="form-control" placeholder="Password" name="doctor[password]" type="password" value="wheatbelly">
								</div>
							</div>
							<div class="form-group">
								<input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in">
							</div>
						</div>
					</div>
				</fieldset>
			</form>
    </div> <!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->