    <div class="container home-container">
    	<div class="logo">
				<!-- <%= image_tag("logo.png", width: "100") %> -->
    	</div>
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2 w">
				<h1>Assisster</h1>
			</div>
		</div>
		<div class="row centered home-icon">
			<div class="col-lg-8 col-lg-offset-2 w tooltip-demo">
				<a data-toggle="tooltip" title="Dr William Davis" data-placement="bottom" href="http://williamdavis.randomdoctor.com"><i class="fa fa-user-md fa-5"></i></a>
			</div>
		</div>
    </div><!-- /.container -->
    
    <div class="container">
    	<div class="row w centered">
    		<br>		
    		<div class="col-lg-6 col-lg-offset-3 home-description">
    			<p>Assisster es tu calendario en la nube. Con Assisster tus pacientes podran pedir cita online y recibiran recordatorios automaticos de sus próximas citas. Visita uno de nuestro ejemplos.</p>
    		</div>
    	</div>
    </div>
		
    <script>
        $.backstretch("/assets/bg5.jpg", {speed: 500});
    </script>
				
		<!-- // 	  <script>
		// 	    $('.tooltip-demo').tooltip({
		// 	      selector: "[data-toggle=tooltip]",
		// 	      container: "body"
		// 	    })
		// </script> -->