<div class="container">
  <div class="row">
    <div class="home-header col-xs-12">
      <div class="doctor-sign-in">
        <button type="button"
                class="btn btn-primary btn-circle"
                data-toggle="modal"
                data-target="#sign-in-modal">
          Sign In
        </button>
        <%= render "helpers/sign_in_modal" %>
      </div>
      <h1 class="text-center home-title">William Davis, MD</h1>      
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h3>Services:</h3>
      <dl class="dl-horizontal">
        <dt>About Wheat:</dt>
        <dd>This a test for a first sevice!</dd>
        <dt>Wheat and health:</dt>
        <dd>This a test for a first sevice!</dd>
        <dt>Symptoms:</dt>
        <dd>This a test for a first sevice!</dd>
      </dl>
    </div>
    <div class="col-xs-4">
      <h3>Contact</h3>
      <img src="http://www.annarosell.es/mapa2.png">
      <address>
        <strong>William Davis, MD</strong><br>
        795 Folsom Ave, Suite 600<br>
        San Francisco, CA 94107<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>

      <address>
        <strong>Dr. William Davis, MD</strong><br>
        <a href="mailto:#">first.last@example.com</a>
      </address>
    </div>    
  </div>

</div>