<%= render "helpers/patient_header" %>

<div class="container wrap" id="patient-appointment">
</div>

<%= render "helpers/footer" %>

<script>
  $(Assisster.initialize({
    $rootEl: $('#patient-appointment'),
	page: "patient",
	doctor_id: <%= @doctor.id %>
  }));
</script>
