<%= render "helpers/doctor_header" %>

<div class="container wrap" id="doctor-settings">
	<div class="dashboard-title row">
	  <h1>Ajustes</h1>
	</div>
	<div class="dashboard-menu row">
		<ul class="nav nav-tabs">
		  <li role="presentation" class="active"><a href="#">Perfil</a></li>
		  <li role="presentation"><a href="/profile">Ajustes Web</a></li>
		</ul>
	</div>
	<div class="dashboard-body">
		<div class="row settings-container">
		</div>
	</div>
</div>

<%= render "helpers/footer" %>