<%= render "helpers/doctor_header" %>

<div class="container wrap" id="doctor-settings">

	<%= render "helpers/doctor_settings_title", page: "web_settings" %>

	<div class="dashboard-body">
		<div class="row settings-container">
		</div>
	</div>
</div>

<%= render "helpers/footer" %>