<%= render "helpers/doctor_header" %>

<div class="container wrap" id="doctor-dashboard">  
</div>

<%= render "helpers/footer" %>

<script>
  $(Assisster.initialize({
    $rootEl: $('#doctor-dashboard'),
		page: "doctor"
  }));
</script>
