<%= render "helpers/doctor_header" %>

<div class="container wrap doctor-dashboard" id="doctor-dashboard">  
</div>

<%= render "helpers/footer" %>

<%= javascript_include_tag params[:controller] %>

<script>
  $(Assisster.initialize({
    $rootEl: $('#doctor-dashboard'),
	page: "doctor",
	doctor_id: <%= current_doctor.id %>  
  }));
</script>
