<% if doctor_signed_in? %>
  <%= render "helpers/doctor_header" %>
<% else %>
  <%= render "helpers/sign_in_header" %>
<% end %>

<div class="container wrap doctor-dashboard" id="doctor-dashboard">  
</div>

<%= render "helpers/footer" %>

<script>
  $(Assisster.initialize({
    $rootEl: $('#doctor-dashboard'),
	page: "doctor",
	doctor_id: <%= current_doctor.id %>  
  }));
</script>
