// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Doctor Calendar */

.tooltip > .tooltip-inner {
  background-color: #fff;
  border: solid 1px #000;
  color: #000;
}

.tooltip > .tooltip-arrow {
//  border-color: #000 transparent;
}

/* Doctor Appointment Form */

.appointment-form-container {
	width: 330px;
	z-index: 5;
	position: fixed;
}

.centered-form {
	margin-top: 60px;
}

.centered-form .panel {
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.label-appointment-modal {
	padding: 0 15px;
}

.timepicker-scroll {
	z-index: 2;
}

.error {
	display: block;
	font-size: 12px;
	color: red;
	padding-bottom: 15px;
}

.appointment-form-container button.cancel {
	float: right;
}

/* Doctor Confirmation Form */

.confirmation-form-container {
	width: 330px;
	z-index: 2;
	position: fixed;
}

.pending-form-container {
	width: 220px;
	z-index: 2;
	position: fixed;
}

.pending-form-container .right {
	float: right;
}

/* Doctor office hours form */

label.next-date {
	font-weight: normal;
	font-size: 12px;
}

/* All the appointments page */

.appointments-index {
	margin-top: 20px;
	padding: 15px;
	border: solid 1px #ddd;
	border-radius: 5px;
	height: 500px;
}

table.appointments-table-header {
	margin-bottom: 1px;
}

.table-appointments-container {
	height: 460px;
	overflow: auto;
}

.table-fname {
	width: 100px;
}

.table-lname {
	width: 100px;
}

.table-email {
	width: 290px;
}

.table-title {
	width: 180px;
}

.table-date {
	width: 155px;
}

.table-time {
	width: 160px;
}