// Place all the styles related to the Doctors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-doctor {
  background-color: transparent;
  border: none;
}

.dashboard-title {
  border-bottom: 1px solid #e0e2e3;
  padding: 20px;
}