// Place all the styles related to the Doctors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-doctor {
  background-color: transparent;
  border: none;
}

.dashboard-title {
	margin-bottom: 16px;
}

.dashboard-title h1 {
	margin-left: 16px;
}

.dashboard-body {
  margin: 0 0 30px;
}

.clickable {
	cursor: pointer;
}

/* Calendar View */

.calendar-header {
	padding: 10px 0;
	margin-bottom: 10px;
	border-bottom: solid 1px #ddd;
	height: 50px;
}

.calendar-header span {
	margin: 0 10px;
	color: #777;
	margin-bottom: 10px;
}

div.left-calendar-header {
	padding: 0;
}

div.left-calendar-header button {
	margin-right: 15px;
}

div.right-calendar-header {
	padding: 0;
}

/* Dashboard home View */

.dashboard-home {
	margin-top: 30px;
}

.appointments-lists {
	border: solid 1px #ddd;
	border-radius: 5px;
	height: 500px;
	margin-bottom: 30px;
	overflow: auto;
}

.recent-list {
	margin-top: 20px;
}

.tabledata-appointment-list {
	width: 150px;
	max-width: 150px;
}

.tabledata-not-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tabledata-appointment-list-date {
	width: 130px;
}

.today-appointments-index {
	float: right;
}

/* Notifications */

div.notifications-body {
	margin-bottom: 30px;
}

div.notifications-container {
	margin-top: 20px;
	border: solid 1px #ddd;
	border-radius: 5px;
	height: 500px;
}

div.send-email-form {
	border-right: solid 1px #ddd;
}

.send-form-title {
	margin-bottom: 15px;
}

div.search-container {
	margin-top: 15px;
	border-top: solid 1px #ddd;
}

div.results-container {
	max-height: 120px;
	overflow: auto;
}

/* Services */

div.services-body {
	margin-bottom: 30px;
}

div.services-container {
	margin-top: 20px;
	border: solid 1px #ddd;
	border-radius: 5px;
	height: 500px;
}

div.new-service-form {
	border-right: solid 1px #ddd;
}

div.service-form {
	width: 300px;
	z-index: 5;
	position: fixed;
}









