// Place all the styles related to the Doctors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-doctor {
  background-color: transparent;
  border: none;
}

.dashboard-title {
	margin-bottom: 16px;
}

.dashboard-title h1 {
	margin-left: 16px;
}

.dashboard-body {
  margin: 0 0 30px;
}

.clickable {
	cursor: pointer;
}

/* Calendar View */

.calendar-header {
	padding: 10px 0;
	margin-bottom: 10px;
	border-bottom: solid 1px #ddd;
	height: 50px;
}

.calendar-header span {
	margin: 0 10px;
	color: #777;
	margin-bottom: 10px;
}

.calendar-header div {
	width: 300px;
}

div.left-calendar-header {
	float: left;
}

div.right-calendar-header {
	float: right;
}

button.create-office-hours {
	float: right;
}

div.center-calendar-header {
	margin: 0 auto;
}

/* Dashboard home View */

.dashboard-home {
	margin-top: 30px;
}

.appointments-lists {
	border: solid 1px #ddd;
	border-radius: 5px;
	height: 500px;
	margin-bottom: 30px;
	overflow: auto;
}

.recent-list {
	margin-top: 20px;
}

.tabledata-appointment-list {
	width: 150px;
}

.recent-appointment-status {
	width: 136px;
}

.pending-appointment-confirm {
	width: 62px;
}

.pending-appointment-cancel {
	width: 58px;
}

.today-appointments-index {
	float: right;
}