div.settings-container {
	margin-top: 20px;
	border: solid 1px #ddd;
	border-radius: 5px;
	height: 500px;
	overflow: auto;
}

span.password-validation-error {
	font-size: 0.8em;
	color: red;
	display: block;
	margin-top: 6px;
}

textarea.doctor-web-description {
	height: 175px;
}