<div class="new-appointment-title">
  <h2>Pedir Cita</h2>
</div>
<div class="new-appointment-body">
	<h4>Su Cita se ha creado satisfactoriamente! Espere el mail de confirmación!</h4>
	<p>Si ha proporcionado un número de teléfono se le confirmarà la cita por mensaje.</p>
	<!-- <div class="bouncing-ball-container">
		<div class="ball bouncing-ball">
		</div>
	</div> -->
	<a href="/" class="btn btn-default" role="button">
		Home
	</a>
	<a href="#" class="btn btn-success" role="button">
		Pedir Otra Cita
	</a>
</div>