<div class="new-appointment-title">
  <h2>Pedir Cita</h2>
</div>
<div class="new-appointment-body">
	<h4>¡Su Cita se ha creado con éxito! Queda a la espera de confirmación.</h4>
	<h5>Muchas gracias por usar Assisster.</h5>
	<a href="/" class="btn btn-default" role="button">
		Home
	</a>
	<a href="#" class="btn btn-success" role="button">
		Pedir Otra Cita
	</a>
</div>